{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Abdumalik's Blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
      <h1><a href="{% url 'home' %}">Abdumalik's Blog</a></h1>
    </header>
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Log out">
    </form>
    {% else %}
    <p> <a href="{% url 'login' %}">Log in</a> |
        <a href="{% url 'signup' %}">Sign up</a>
    </p>
    {% endif %}
    <div>
      {% block content %}
      {% endblock %}
    </div>
    <footer>
        <a href="{% url 'new_post' %}">Write a new post.</a>
    </footer>
</body>
</html>